| $('.selected_area').append("#{j render('selected_book', title: @title, google_books_api_id: @google_books_api_id, image: @image)}");
| var input = document.createElement("input");
| input.setAttribute("type", "hidden");
| input.setAttribute("name", "google_books_api_ids[]");
| input.setAttribute("value", "#{@google_books_api_id}" );
| $('.selected_form').append(input);